{% extends "base.html" %}


{% block body %}
<div class="content-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Authorization Error</h1>
  <p class="lead">
    {{ error_message }}
  </p>
</div>

<div class="container">
  <div class="mb-5 text-center">
    <div class="gif-frame">
      <video id="gif" width="432" height="360" loop="true"
        data-gif-src="{{ url_for('static', filename='img/authorization-error.gif') }}">
        <source src="{{ url_for('static', filename='img/authorization-error.webm') }}" type="video/webm">
        <source src="{{ url_for('static', filename='img/authorization-error.mp4') }}" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="mb-5 text-center">
    <div class="row">
      <div class="col-12 col-md">
        <p class="lead">
          You can restart the command line application and try once more.
        </p>
      </div>
    </div>
  </div>

</div>
{% endblock %}