{% extends "base.html" %}


{% block body %}
<div class="content-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">
    You have been successfully authenticated.
  </p>
</div>

<div class="container">
  <div class="mb-5 text-center">
    <div class="gif-frame">
      <video id="gif" width="640" height="360" loop="true"
        data-gif-src="{{ url_for('static', filename='img/success.gif') }}">
        <source src="{{ url_for('static', filename='img/success.webm') }}" type="video/webm">
        <source src="{{ url_for('static', filename='img/success.mp4') }}" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="mb-5 text-center">
    <div class="row">
      <div class="col-12 col-md">
        <p class="lead">
          The command line application will log in to Reddit and perform the scheduled tasks.
        </p>
        <p class="lead">
          You can close this page now.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}